@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
body
{
	background: red;
	color: #000;
	font-family: 'Train One', cursive;
}

	.d1 , .d2
	{
		/* background: white; */
		padding: 10px;
		float: none;
		border-radius: 15px;
        color: white;
	}


#p1n , #p2n
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
	text-align: center;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #4492aa;
padding: 10px;
float: none;
text-align: left;
}
